{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Stories<span>.</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{% url 'page' %}" class="nav-link"><b>Posts</b></a></li>
          <li class="nav-item"><a href="{% url 'style' %}" class="nav-link">Lifestyle</a></li>
          <li class="nav-item"><a href=" /contact/" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->
